<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<title>Expert System on Diabetes Diagnosis</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/remedies.css')}}">

</head>
<body>
	<header>
		<button class="btn" onclick="document.location='/'"><i class="fa fa-home"></i> <span> Home </span></button>
		<button class="btn"><i class="fa fa-phone"></i> <span> Contact </span></button>
        <button class="btn"><i class="fa fa-language"></i> <span> Translate </span></button>
        <button class="btn"><i class='fas fa-mortar-pestle'></i> <span> Remedies </span></button>

    </header>
	<main>
		<div class="container-fluid">
			<div class="text-block">
 			<h1>REMEDIES</h1>
			<h2>Things To Remember For A Diabetic</h2>
			<table class="center">
				<thead>
					<tr>
						<th class="do1">DO'S</th> 
						<th class="dont1">DON'TS</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="do">1.Check your blood sugar regularly.</td>
						<td class="dont">1.Avoid underground vegetables e.g. sweet potato, beetroot, pumpkin, etc.</td>
					</tr>
					<tr>
						<td class="do">2.Exercise daily for at least 30 mins.</td>
						<td class="dont">2.Patients who are on insulin or oral hypoglycaemic agents should not fast.</td>
					</tr>
					<tr>
						<td class="do">3.Sleep for minimum 6 hours daily.</td>
						<td class="dont">3.Alcohol increases blood pressure and triglycerides and hence weakens the heart.</td>
					</tr>
					<tr>
						<td class="do">4.Keep yourself hydrated.</td>
						<td class="dont">4.Avoid eating fatty cuts of meat and processed or frozen meat.</td>
					</tr>
					<tr>
						<td class="do">5.Include salads and high fibre food in your diet.</td>
						<td class="dont">5.Don’t go for white bread, white rice, deep fried foods and sweets.</td>
					</tr>
					<tr>
						<td class="do">6.Go for skinless chicken and lean cut meats instead of red meats. (It is best to be vegetarian.)</td>
						<td class="dont">6.Don’t go overboard on servings of fruits and avoid processed fruits in the tins.</td>
					</tr>
					<tr>
						<td class="do">7.Eat more whole wheat bread, roti’s, brown rice and oats.</td>
						<td class="dont">7.Reduce saturated and partially hydrogenated fats and oil.</td>
					</tr>	
					<tr>
						<td class="do">8.Have small servings of apple, bananas and oranges, etc.</td>
						<td class="dont">8.Avoid aerated and caffeinated drinks and artificial sweeteners.</td>
					</tr>
				</tbody>
			</table>
			</div>
		<div class="list">
		<h2>Home Remedies</h2>
		
		<ul>
  			<li><p>Prepare a juice of cucumber, bitter gourd and tomato and drinking this regularly.</p></li>
  			<li><p>Take some tender mango leaves, cut them and soak in warm water overnight and drink this in the morning in empty stomach.</p></li>
  			<li><p>Amala or gooseberry increases the functioning of pancreas, hence having them daily can reduce diabetes and also increase immunity.</p></li>
  			<li><p>Having methi or fenugreek seeds which are soaked overnight, in the morning in empty stomach is considered very beneficial for treating diabetes since it increases glucose tolerance.</p></li>
  			<li><p>Drinking water which is boiled with cinnamon is also helpful.</p></li>
  			<li><p>Similarly, water which is boiled with raw lady’s fingers help to control diabetes since it has polyphenolic molecules which helps to reduce diabetes.</p></li>
  			<li><p>Drinking copper treated water everyday can help in controlling the symptoms. Put one cup of water in a copper vessel at night and drink it the next morning.</p></li>
  			<li><p>Doing Yogic practices like Kapalbhathi, suryanamaskar, pranayama and mandukasana have resulted in significant changes in sugar levels and they also bring overall wellbeing to the body.</p></li>
		</ul>
		</div>

								
		</div>
			</main>
	<footer>
		<button class="btn" style="vertical-align:middle"><span>About Us </span></button>
		<p>We believe in empowering people to improve their lives..! </p>
	</footer>
</body>
</html>
